<footer>
  <div class="socials">
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-x-twitter"></i>
  </div>
  <span class="trademark">&copy; Wanderlust 2025</span>
  <div class="extras">
    <a href="">Privacy</a> &nbsp;
    <a href="">Terms</a>
  </div>
</footer>