<style>
  
</style>

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom z-1">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-body-tertiary z-1" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/listing" class="nav-link"><i class="fa-solid fa-globe"></i></a>
        <a href="/listing" class="nav-link">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a href="/listing/new" class="nav-link">Add Listing</a>
        <%if(!activeUser){%>
          <a href="/user/signup" class="nav-link"><strong>SignUp</strong></a>
          <a href="/user/login" class="nav-link"><strong>Login</strong></a>
          <%}%>
            <%if(activeUser){%>
              <a href="/user/logout" class="nav-link"><strong>Logout</strong></a>
              <%}%>
      </div>
    </div>
  </div>
</nav>